<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row">
      <div class="col-lg-4 col-xl-3 d-none d-lg-block">

        <label class="tx-sans tx-5 tx-medium tx-spacing-1 tx-uppercase tx-color-03 mg-b-15">TOPICS</label>
        <ul class="list-group">
          <li class="list-group-item disabled">Recent Topics</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div><!-- col -->

      <div class="col-lg-8 col-xl-9">

        <h3 class="mg-b-25">TORONTO</h3>

        <div class="row">
          <div class="col-sm-12">

            <div class="card mt-2" style="padding:10px;">
              <div class="row ">
                <div class="col-md-4">
                  <img
                    src="https://cms-internationsgmbh.netdna-ssl.com/cdn/image/185x104/public/cms-media/public/6582b92cc8004587d116af54ee0626446d65343d541d7633cfbe1d4202a2a00d.jpg"
                    class="w-100">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <h4 class="card-title">Moving to Cozy and Cosmopolitan Toronto</h4>
                    <p class="card-text">Toronto is probably among the top three destinations for expats interested in
                      living in Canada. And with good reason: expats and immigrants have chosen to relocate to Toronto
                      for decades, making it one of the most diverse cities in the world. Our guide on Toronto has all
                      the info you need.</p>
                    <p class="card-text">
                      <li><a href="">Preparing for Your Move to Toronto</a></li>
                    </p>

                  </div>
                </div>
              </div>
            </div>

            <div class="card mt-2" style="padding:10px;">
              <div class="row ">
                <div class="col-md-4">
                  <img
                    src="https://cms-internationsgmbh.netdna-ssl.com/cdn/image/185x104/public/cms-media/public/6582b92cc8004587d116af54ee0626446d65343d541d7633cfbe1d4202a2a00d.jpg"
                    class="w-100">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <h4 class="card-title">Moving to Cozy and Cosmopolitan Toronto</h4>
                    <p class="card-text">Toronto is probably among the top three destinations for expats interested in
                      living in Canada. And with good reason: expats and immigrants have chosen to relocate to Toronto
                      for decades, making it one of the most diverse cities in the world. Our guide on Toronto has all
                      the info you need.</p>
                    <p class="card-text">
                      <li><a href="">Preparing for Your Move to Toronto</a></li>
                    </p>

                  </div>
                </div>
              </div>
            </div>



          </div>


        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->

    <hr class="mg-t-60 mg-b-30">


  </div>
</div><!-- content -->
