<footer class="footer">
  <div>
    <span>&copy; 2020 GoGetters </span>
    <span>Created by <a href="http://www.gogetters.com/">GoGetters Developers</a></span>
  </div>
  <div>
    <nav class="nav">
      <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
      <a href="http://themepixels.me/dashforge/1.1/change-log.html" class="nav-link">Change Log</a>
      <a href="https://discordapp.com/invite/RYqkVuw" class="nav-link">Get Help</a>
    </nav>
  </div>
</footer>
