<div class="ui inverted dimmer" [class.active]='loading'>
  <div class="ui small text loader">Loading</div>
</div>

<section class="">
  <div class="page-header">
    <div class="header-inner">
      <h2>Gogetters Members</h2>
      <nav class="breadcrumb">
        <a href="index.html" class="breadcrumb-item"><i class="fa fa-home"></i></a>
        <span class="breadcrumb-item active">Members</span>
      </nav>
    </div>
  </div>
</section>

<div class="">
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
                    <h4 class="widget-title">Shortcuts</h4>
                    <ul class="naves">
                      <li>
                        <i class='bx bx-clipboard'></i>
                        <a href="newsfeed.html" title="">News feed</a>
                      </li>
                      <li>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <a href="timeline-friends.html" title="">friends</a>
                      </li>
                      <li>
                        <i class='bx bxs-envelope-open'></i>
                        <a href="messages.html" title="">Messages</a>
                      </li>
                      <li>
                        <i class='bx bxs-bell'></i>
                        <a href="notifications.html" title="">Notifications</a>
                      </li>
                      <li>
                        <i class='bx bxs-share'></i>
                        <a href="people-nearby.html" title="">People Nearby</a>
                      </li>
                      <li>
                        <i class='bx bx-log-out-circle'></i>
                        <a href="landing.html" title="">Logout</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Shortcuts -->
                  <div class="widget stick-widget">
                    <h4 class="widget-title">Profile intro</h4>
                    <ul class="short-profile">
                      <li>
                        <span>about</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company.
                        </p>
                      </li>
                      <li>
                        <span>fav tv show</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company.
                        </p>
                      </li>
                      <li>
                        <span>favourit music</span>
                        <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <!-- profile intro widget -->

                </aside>
              </div>
              <!-- sidebar -->
              <div class="col-lg-6">
                <div class="central-meta">
                  <div class="frnds">

                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a class="" href="#searchFriends" data-toggle="tab">Search</a>
                        <span><i class='bx bx-search-alt' style="margin-top: 2px;"></i></span></li>
                      <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">My Friends</a>
                        <span>55</span></li>
                      <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Friend
                          Requests</a><span>60</span></li>
                    </ul>
                    <!-- assets/img/testimonials/testimonials-2.jpg -->
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade show " id="searchFriends">

                        <form class="ui form mt-3">

                          <div class="three fields">
                            <div class="six wide field">
                              <div class="field">
                                <!-- <label></label> -->
                                <div class="ui large icon input">
                                  <input type="text" placeholder="Search...">
                                  <i class="search icon"></i>
                                </div>
                              </div>

                            </div>
                            <div class="six wide field">
                              <div class="field">
                                <!-- <label>Country</label> -->
                                <select class="ui  search dropdown">
                                  <option>Select</option>
                                  <option>Canada</option>
                                  <option>United States of America</option>
                                  <option>United Kingdom</option>
                                </select>
                              </div>
                            </div>
                            <div class="four wide field">
                              <!-- <label>Country</label> -->
                              <div class="ui primary button">Search</div>
                            </div>
                          </div>
                        </form>
                        <ul class="nearby-contct">
                          <li>
                            <div class="nearly-pepls">
                              <figure>
                                <a href="" title=""><img src="assets/img/testimonials/testimonials-2.jpg" alt=""></a>
                              </figure>
                              <div class="pepl-info" style=" display: inline-flex;">
                                <h4><a href="" title="">Amy watson</a></h4>
                                <span>ftv model</span>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="nearly-pepls">
                              <figure>
                                <a href="" title=""><img src="assets/img/testimonials/testimonials-2.jpg" alt=""></a>
                              </figure>
                              <div class="pepl-info" style=" display: inline-flex;">
                                <h4><a href="" title="">Sara grey</a></h4>
                                <span>ftv model</span>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
                              </div>
                            </div>
                          </li>

                        </ul>
                        <button class="btn-view btn-load-more"></button>

                      </div>


                      <div class="tab-pane active fade show " id="frends">
                        <ul class=" nearby-contct">
                          <li *ngFor="let user of userList">
                            <div class="row">
                              <div class="nearly-pepls" style=" display: inline-flex;">
                                <figure>
                                  <a href="#" title=""><img src="{{user.profilePicture}}" alt=""></a>
                                </figure>

                                <div class="pepl-info" style=" display: inline-flex;">
                                  <div class="col-md-8">
                                    <h4><a href="#" title="">{{user.firstName}} {{user.lastName}}</a></h4>
                                    <span>{{user.currentCity}}</span>
                                  </div>
                                  <div class="col-md-4">
                                    <a href="#" title="" class="add-butn more-action" data-ripple="">unfriend</a>
                                    <a href="#" title="" class="add-butn" data-ripple="">add friend</a>
                                  </div>

                                </div>
                              </div>+

                            </div>
                          </li>

                        </ul>
                        <div class="lodmore"><button class="btn-view btn-load-more">

                          </button></div>
                      </div>

                      <div class="tab-pane fade" id="frends-req">
                        <ul class="nearby-contct">
                          <li>
                            <div class="nearly-pepls">
                              <figure>
                                <a href="" title=""><img src="assets/img/testimonials/testimonials-2.jpg" alt=""></a>
                              </figure>
                              <div class="pepl-info " style=" display: inline-flex;">
                                <h4><a href="" title="">Amy watson</a></h4>
                                <span>ftv model</span>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="nearly-pepls">
                              <figure>
                                <a href="" title=""><img src="assets/img/testimonials/testimonials-2.jpg" alt=""></a>
                              </figure>
                              <div class="pepl-info">
                                <h4><a href="" title="">Sara grey</a></h4>
                                <span>ftv model</span>
                                <a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
                                <a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
                              </div>
                            </div>
                          </li>

                        </ul>
                        <button class="btn-view btn-load-more"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- centerl meta -->
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <div class="widget">
                    <h4 class="widget-title">Recommended for You</h4>
                    <ul class="followers">
                      <li>
                        <figure><img src="assets/img/testimonials/testimonials-2.jpg" alt=""></figure>
                        <div class="friend-meta">
                          <h4><a href="" title="">Kelly Bill</a></h4>
                          <a href="#" title="" class="underline">Add Friend</a>
                        </div>
                      </li>
                      <li>
                        <figure><img src="assets/img/testimonials/testimonials-2.jpg" alt=""></figure>
                        <div class="friend-meta">
                          <h4><a href="" title="">Issabel</a></h4>
                          <a href="#" title="" class="underline">Add Friend</a>
                        </div>
                      </li>

                    </ul>
                  </div>
                  <!-- who's following -->
                  <div class="widget friend-list stick-widget">
                    <h4 class="widget-title">Friends</h4>
                    <div id="searchDir">
                      <form class="filterform" action="#"><input class="filterinput" type="text"
                          placeholder="Search Contacts..."></form>
                    </div>
                    <ul id="people-list" class="friendz-list">
                      <li>
                        <figure>
                          <img src="assets/img/testimonials/testimonials-2.jpg" alt="">
                          <span class="status f-online"></span>
                        </figure>
                        <div class="friendz-meta">
                          <a href="">bucky barnes</a>
                          <i class='bx bx-current-location'> London</i>
                        </div>
                      </li>
                      <li>
                        <figure>
                          <img src="assets/img/testimonials/testimonials-2.jpg" alt="">
                          <span class="status f-away"></span>
                        </figure>
                        <div class="friendz-meta">
                          <a href="">Sarah Loren</a>
                          <i class='bx bx-current-location'> London</i>
                        </div>
                      </li>
                      <li>
                        <figure>
                          <img src="assets/img/testimonials/testimonials-2.jpg" alt="">
                          <span class="status f-off"></span>
                        </figure>
                        <div class="friendz-meta">
                          <a href="">jason borne</a>
                          <i class='bx bx-current-location'> London</i>
                        </div>
                      </li>
                    </ul>

                  </div>
                  <!-- friends list sidebar -->

                </aside>
              </div>
              <!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
