    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center">

        <h1 class="logo"><a>Go<span style="color: blue;">Getters</span></a></h1>


        <a (click)="login()" class="get-started-btn ml-auto">Login</a>

      </div>
    </header>
    <!-- End Header -->



    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/4.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h4 class="animate__animated animate__fadeInDown">YOUR EXPERT COMMUNITY</h4>
                <h2 class="animate__animated animate__fadeInDown">Welcome to Go<span
                    style="color: #2396d9;">Getters</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Enjoy the international experience with fellow global minds
                </p>
                <a (click)="signup()" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                  Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/Toronto.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h4 class="animate__animated animate__fadeInDown">YOUR EXPERT COMMUNITY</h4>
                <h2 class="animate__animated animate__fadeInDown">Welcome to Go<span style="color: blue;">Getters</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Enjoy the international experience with fellow global minds
                </p>
                <a (click)="signup()" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                  Started</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/usa.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h4 class="animate__animated animate__fadeInDown">YOUR EXPERT COMMUNITY</h4>
                <h2 class="animate__animated animate__fadeInDown">Welcome to Go<span style="color: blue;">Getters</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Enjoy the international experience with fellow global minds
                </p>
                <a (click)="signup()" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                  Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </section><!-- End Hero -->



    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-world"></i>
              <span data-toggle="counter-up">232+</span>
              <p>Countries</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-brand-wikipedia"></i>
              <span data-toggle="counter-up">7200+</span>
              <p>Cities</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-tasks-alt"></i>
              <span data-toggle="counter-up">1,463+</span>
              <p>Ongoing Events</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-social"></i>
              <span data-toggle="counter-up">4500+</span>
              <p>Users</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets/img/connect.png" class="img-fluid" alt="">
            <a href="#" class="venobox play-btn mb-2" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="icofont-finger-print"></i></div>
              <h4 class="title"><a href="">Assistance</a></h4>
              <p class="description">Find all the information you need about your destination and get helpful advice
                from fellow members</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="icofont-gift-box"></i></div>
              <h4 class="title"><a href="">Community Experience</a></h4>
              <p class="description">Our Community Experience Department is responsible for supporting our volunteers
                around the world as they organize and host events in our 420 Communities.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- =======Carousel Hero Section ======= -->
    <section id="hero">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/4.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h4 class="animate__animated animate__fadeInDown">Connecting People Globally Around the World</h4>
                <h2 class="animate__animated animate__fadeInDown">Over<span style="color: blue;">215</span> Countries
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Enjoy the international experience with fellow global minds
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/Toronto.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h4 class="animate__animated animate__fadeInDown">Meet Our Members</h4>
                <h2 class="animate__animated animate__fadeInDown">Go<span style="color: blue;">Getters</span> Reaching
                  <span style="color: blue;">2500+</span> Members
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Connect and share Opinions with Our Members all around the World
                </p>

              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/Usa2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h4 class="animate__animated animate__fadeInDown">YOUR EXPERT COMMUNITY</h4>
                <h2 class="animate__animated animate__fadeInDown">Join Us Today Go<span
                    style="color: blue;">Getters</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Enjoy the international experience with fellow global minds
                </p>
                <a (click)="signup()" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                  Started</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Carousel Hero -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3> A TRUSTED NETWORK</h3>
            <p class="font-italic">
              Connect and share experiences with fellow internationals in your city, region or Country
            </p>
            <ul>
              <li><i class="icofont-check"></i> Meet new friends around the World</li>
              <li><i class="icofont-check"></i>Wherever in the world life takes you, our InterNations Communities help
                you feel at home </li>
              <li><i class="icofont-check"></i>Expert Community </li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/img16.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Get Connected to people Around the World</h3>
            <p class="font-italic">
              Connect with your loved ones. We connect you with the best people that suit you. Share Experience and
              knowlege with fellow GoGetters members </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Available Anywhere, Anytime: Mobile Supported</h3>
            <p>Our app is Available anytime anytime as need arises, fully responsive and adaptable for mobile view </p>
            <ul>
              <li><i class="icofont-check"></i> Reponsive on mobile view and web </li>
              <li><i class="icofont-check"></i>Ease of usage</li>
              <li><i class="icofont-check"></i> Available at your best hour</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features/features-4.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>VIBRANT COMMUNITY LIFE</h3>
            <p class="font-italic">
              Join a wide variety of events & activities to meet like-minded expats
            </p>
            <p>
              Want to organize an activity? Open up your own group!
              To organize and post an activity, just become an InterNations Consul and open up your own group.
            </p>
            <p>
              Ready to take the fight for your rights to connect and communicate offline? Connect with us, our allies
              and other activists at conferences, rallies, hearings, workshops, lectures, parties and discussions.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating float-left" href="#multi-item-example" data-slide="prev"><i
            class="fas fa-chevron-left"></i></a>
        <a class="btn-floating float-right" href="#multi-item-example" data-slide="next"><i
            class="fas fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>

      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner carousel-inner2" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"> Event title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-12 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-12 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-12 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-10 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-10 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-10 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-10 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Event Title</h4>
                <div class="mt-1 mb-2" style="text-align: left;"><span class="tx-12 tx-color-03 "><i
                      class="fa fa-users"></i> 21
                    Attendees</span>
                </div>
                <div style="text-align: left;"><span class="tx-10 tx-color-03 "><i class="fa  fa-globe"></i> In
                    17 Nationalities</span></div>
                <div class="row mt-4"></div>
                <!-- <button class="btn btn-block  btn-primary"><strong>Attend</strong></button> -->
                <div class="ui bottom attached button primary">
                  Attend
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->



      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->








    <!-- Call to Action -->
    <section class="#Action call-to-action text-white text-center"
      style="background-image: url(assets/img/action-call.jpg); ">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4" style="color: white;">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="inline-form form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <div class="ui button primary float-left btn-block" (click)="signup()">
                    Sign up!
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <!-- footer content -->




    <footer id="footer" class="footer-1">
      <div class="main-footer widgets-dark typo-light">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget subscribe no-box">
                <h5 class="widget-title">Welcome to GoGetters<span></span></h5>
                <p>A108 Adam Street</p>
                <p> New York, NY 535022</p>
                <p> United States</p>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title"> Quick Links<span></span></h5>
                <ul class="thumbnail-widget">
                  <li>
                    <div class="thumb-content"><a (click)="signup()">Get Started</a></div>
                  </li>


                  <li>
                    <div class="thumb-content"><a href="">Events</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">News</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">About Us</a></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title">Get Started<span></span></h5>
                <p>Get access to your full Training and Marketing Suite.</p>
                <div class="ui button primary float-left btn-block" (click)="signup()" style="color: #fff;">
                  Sign up!
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title">Contact Us<span></span></h5>
                <p><a href="mailto:info@domain.com" title="glorythemes"><b>Phone:</b> +1 458 124 5522</a></p>
                <p><a href="mailto:info@domain.com" title="glorythemes"><b>Email:</b> info@gogetters.com</a></p>
                <ul class="social-footer2">
                  <li class=""><a href="https://www.youtube.com/"><i class="fab fa-facebook"></i></a></li>
                  <li class=""><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                  <li class=""><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                  <li class=""><a href="https://www.instagram.com/"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
